<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="RestfulTimeout" value="300000"/>
    <add key="RestfulAccount" value="myl" />
    <add key="RestfulPwd" value="123" />
    <add key="AppRole" value="6D9B4A2746A7680ED7E0F4B66D838D47" />
  </appSettings>
</configuration>